Source: ros-iron-ros-gzharmonic-image
Section: misc
Priority: optional
Maintainer: Louise Poubel <louise@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libgz-msgs10-dev, libgz-transport13-dev, pkg-config, ros-iron-ament-cmake, ros-iron-ament-lint-auto <!nocheck>, ros-iron-ament-lint-common <!nocheck>, ros-iron-image-transport, ros-iron-rclcpp, ros-iron-ros-gzharmonic-bridge, ros-iron-sensor-msgs, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-ros-gzharmonic-image
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgz-msgs10-dev, libgz-transport13-dev, ros-iron-image-transport, ros-iron-rclcpp, ros-iron-ros-gzharmonic-bridge, ros-iron-sensor-msgs, ros-iron-ros-workspace
Conflicts: ros-iron-ros-gz-image
Description: Image utilities for Gazebo simulation with ROS.
